<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.esp8266.aqua">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screen.LampDetailActivity"></activity>
        <activity android:name=".Screen.NTPActivity" />
        <activity android:name=".Screen.SettingsActivity" />
        <activity android:name=".Screen.HeaterActivity" />
        <activity android:name=".Screen.LogActivity" />
        <activity android:name=".Screen.UDOActivity" />
        <activity android:name=".Screen.TemperatureActivity" />
        <activity android:name=".Screen.LampActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>